<div style=”margin:21px;”></div>
<div class=”col-sm-11 mx-auto”>
    <div class=”card”>
        <div class=”card-header”>Judul Data</div>
        <div class=”card-body”>
            <p>
                <form method=”POST”>
                    <table style=”width:100%;padding:11px;”>
                        <tr>
                            <td>Nama</td>
                            <td>:</td>
                            <td><input type=”text” name=”nama” class=”inputan”></td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>:</td>
                            <td><textarea name=”nama” class=”inputanallborder” style=”width:93%”></textarea></td>
                        </tr>
                        <tr>
                            <td>Jenis Kelamin</td>
                            <td>:</td>
                            <td>
                                <input type=”radio” name=”klmn”>Laki-Laki <input type=”radio” name=”klmn”>Perempuan
                            </td>
                        </tr>
                        <tr>
                            <td>Hobi</td>
                            <td>:</td>
                            <td>
                                <select name=”hobi” class=”inputan”>
                                    <option>Makan</option>
                                    <option>Minum</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
            </p>
        </div>
    </div>
    <div style=”margin:21px;”></div>
    <div class=”card border-0″>
        <div class=”card-body”>
            <table class=”table”>
                <thead>
                    <tr>
                        <th scope=”col”>#</th>
                        <th scope=”col”>First</th>
                        <th scope=”col”>Last</th>
                        <th scope=”col”>Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope=”row”>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope=”row”>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope=”row”>3</th>
                        <td colspan=”2″>Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style=”margin:21px;”></div>
    <div class=”card border-0″>
        <div class=”card-body”>
            <table class=”table table-success table-striped”>
                <thead>
                    <tr>
                        <th scope=”col”>#</th>
                        <th scope=”col”>First</th>
                        <th scope=”col”>Last</th>
                        <th scope=”col”>Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope=”row”>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope=”row”>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope=”row”>3</th>
                        <td colspan=”2″>Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style=”margin:21px;”></div>
    <div class=”card border-0″>
        <div class=”card-body”>
            <table class=”table table-success”>
                <thead>
                    <tr>
                        <th scope=”col”>#</th>
                        <th scope=”col”>First</th>
                        <th scope=”col”>Last</th>
                        <th scope=”col”>Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope=”row”>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope=”row”>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope=”row”>3</th>
                        <td colspan=”2″>Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>